{{ partial "header.html" . }}

{{ partial "sidebar.html" . }}

{{ partial "content_header.html" . }}

{{ partial "content_search.html" . }}

            <section class="item card-box" id="row-1">
            <div class="container-fluid">
                <div class="row">
                    <!--获取内容列表-->
                    <div class="clearfix two-list-box">
                            <div><p align="center"><img src="https://s1.ax1x.com/2022/10/31/xTtDM9.jpg"></p>
                           </div>
                            </a>
                        </div>

                </div>
            </div>
            </section> 

{{ partial "content_footer.html" . }}

{{ partial "modal_search.html" . }}

{{ partial "footer.html" . }}

